copy .env.example to .env and provide the required values
The .env file is excluded from git because it may contain sensitive info such as api tokens
For Azure devops exec, same values are configured using azure pipeline variables instead of .env files.


BASE_URL=https://jsonplaceholder.typicode.com
API_TOKEN=
TIMEOUT=10
